$light_green: rgba(126, 213, 111, 1);
$med_green: #55c57a;
$dark_green: rgba(40, 180, 133, 1);

$yellow: rgb(255, 185, 0);
$orange: #ff7730;

$light_blue: #ff5f5f;
$dark_blue: rgb(0, 92, 204);

$purple: #d02e2f;

$grey: #808080;
