.editor {
    width: 85vw;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-family: Verdana, sans-serif;
    cursor: text;
    padding: 2rem 5rem 8rem;
    border-radius: 2px;
    margin-bottom: 2em;
    background: #ffffff;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


 /*Styles I messed with below*/

figure{
    margin: 1rem 0;
}

.draftJsToolbar__toolbar__dNtBH {
    width: fit-content;
    margin-left: 7rem;
}

.public-DraftStyleDefault-ul{
    margin: 0 2rem 0 5rem !important;
}

.public-DraftStyleDefault-ol{
    margin: 0 2rem 0 5rem !important;
}

.public-DraftStyleDefault-orderedListItem{
    margin: 2rem 0 !important;
}
.public-DraftStyleDefault-unorderedListItem{
    margin: 2rem 0 !important;
}

@media screen and (max-width: 485px) {
    .editor {
        width: 95vw;
        padding: 2rem 2rem 8rem;
    }
}