@import "abstracts/variables";

.banner{
  z-index: 50;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 2rem;

  animation: bannerBottom 250ms ease ;
  backface-visibility: hidden;

  &__green{
    background: linear-gradient( to bottom right, #6ecb6d, $dark_green);
  }

  &__red{
    background: linear-gradient( to bottom right, #ef473a, #cb2d3e);
  }
}

@keyframes bannerBottom {
  0%{
    opacity: 0.9;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}