.card{
  display: flex;
  flex-direction: column;
  transition: transform 150ms, box-shadow 150ms;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: white;
  color: #282828;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  &__title{
    overflow-wrap: break-word;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 2rem 0;
  }

  &__img{
    padding: 1rem 0;
    width: 100%;
    height: auto;
  }

  &__description{
    overflow-wrap: break-word;
    font-size: 1.6rem;
    padding: 2rem 0;
  }

  &__date{
    padding: 2rem 0;
    color: #555555;
    font-size: 1.4rem;
    font-style: italic;
  }

  &:hover{
    transform: translateY(-8px);
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  }
}
