@import 'abstracts/variables';


.display-content__form{
  font-size: 1.6rem;
  align-items: center;
  width: 100%;

  &--title{
    padding-left: 1rem;
    height: 5rem;
    margin-top: 2rem;
  }

  &--description{
    padding: 1rem;
    height: 15rem;
    margin-bottom: 2rem;
  }

  &--category{
    height: 30px;
    width: 180px;
    font-size: 1.6rem;
  }
}

.content-header-container{
  margin: 10rem 0 5rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 85vw;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.content{
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    width: 100%;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: start;
    padding: 0 2rem;

  }

  &__date{
    width: 100%;
    font-size: 1.5rem;
    text-align: start;
    color: #4b4b4b;
    padding: 1rem 2rem;
  }

  &__text{
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 1.7rem;
    text-align: start;
    padding: 1rem 2rem;
  }

  &__btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
  }

  &__btn{
    transition: all 100ms;
    z-index: 60;
    color: #f9f9f9;
    border: none;
    border-radius: 10rem;
    font-size: 1.7rem;
    padding: 1.3rem 2rem;
    margin: 0 1rem;

    &--save{
      background: linear-gradient( to bottom right, #6ecb6d, $dark_green);
    }
    &--remove{
      background: linear-gradient( to bottom right, #ef473a, #cb2d3e);
    }
    &--blue{
      background: linear-gradient( to bottom right, #42b4bb, #3b8ac0);
    }

    &:hover {
      cursor: default;
      transform: translateY(-0.4rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
}

@media screen and (max-width: 485px) {
  .content-header-container{
    margin: 10rem 0 5rem 0;
    padding: 2rem 0;
    width: 95vw;
  }
}