@import "base/animations";

.login-modal{
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 486px;
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 80px;

  border-radius: 5px;
  border: solid 2px white;
  box-shadow: 0 1rem 1.5rem 0.9rem rgba(0,0,0,0.3);
  background: linear-gradient( to bottom right, #555555, #333333);
  opacity: 1 !important;

  font-size: 2rem;
  color: white;

  animation: modal 250ms ease-out;
  backface-visibility: hidden;


  &__button{
    height: 70px;
    width: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px !important;
    border: solid 1px white !important;
    padding: 0 1rem;
    transition: all 100ms;

    &--facebook{
      opacity: 1 !important;
      background-color: #3B5998 !important;
      color: white;
      font-size: 1.7rem;
    }

    &--google{
      opacity: 1 !important;
      background-color: #333 !important;
      color: #ffffff;
      font-size: 1.7rem;
    }

    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);

      img{
        animation: spinCCW 500ms ease;
        backface-visibility: hidden;
        transform: rotate(360deg);
      }
    }

  }

  &__image{
    border-radius: 50%;

    &--facebook{
      width: 5rem;
    }

    &--google{
      height: 5rem;
    }
  }
}


@media screen and (max-width: 500px) {
  .login-modal{
    &__button{
      &--facebook{
        img{
          animation: spinCCW 800ms ease;
          transform: rotate(360deg);
        }
      }
      &--google{
        img{
          animation: spinCW 1000ms ease;
          transform: rotate(360deg);
        }
      }
      &:hover{
        img{
          animation: none;
        }
      }
    }
  }
}


@keyframes modal {

  0%{
    opacity: 0;
    transform: translateY(200px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes spinCCW {

  0%{
    transform: rotate(360deg);
  }

  100%{
    opacity: 1;
    transform: rotate(0);
  }

}

@keyframes spinCW {

  0%{
    transform: rotate(-360deg);
  }

  100%{
    opacity: 1;
    transform: rotate(0);
  }

}