.mobilemenu-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, #575d5f, #282b2d);
  transition: all 200ms;
  opacity: 0.98;
}

.mobilemenu {
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  color: #f8f8f8;

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }

    &:active {
      border-radius: 10px;
      background-color: rgba(173, 173, 173, 0.71);
    }
  }

  &__logo {
    z-index: 60;
    transition: all 400ms;
    height: 5rem;
  }

  &__title {
    font-family: Courgette, cursive;
    font-size: 3.5rem;
  }

  &__button {
    z-index: 60;
    height: 4.8rem;
    filter: invert(100%);
  }

  &__exit {
    font-weight: 700;
    font-size: 5rem;
    position: absolute;
    top: 7px;
    right: 30px;
  }

  &__nav-container {
    z-index: 70;
    position: absolute;
    height: 100vh;
    width: 50vw;
    padding-top: 3rem;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #575d5f, #282b2d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    opacity: 1;

    animation-name: mobileMenuWoosh;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    backface-visibility: hidden;

    button {
      color: inherit;
      background-color: transparent;
      border: none;
    }

    hr {
      width: 75%;
      margin: 0.2rem 0;
      padding: 0;
      opacity: 0.8;
    }
  }

  &__nav {
    z-index: 60 !important;
    padding: 2rem;
    font-size: 2rem;
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    &__login {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &--button {
        margin: 2rem;
        text-align: center;
        padding: 2rem;
      }
    }

    &--arrow {
      height: 13px;
      margin-left: -35px;
      margin-right: 20px;
      margin-bottom: 4px;
      filter: invert(95%);
    }

    &--plays {
      z-index: 45;
      top: 12.5%;
      left: -100%;
      width: 101%;
      height: 50vh;
    }
    &--prose {
      z-index: 45;
      top: 25%;
      left: -100%;
      width: 101%;
      height: 30vh;
    }
    &--events {
      z-index: 45;
      top: 50%;
      left: -100%;
      width: 101%;
      height: 30vh;
    }

    &--user {
      z-index: 45;
      bottom: 0;
      left: -100%;
      width: 101%;
      height: 30vh;
    }

    &--drop-down {
      z-index: 45;
      font-weight: 100;
      font-size: 2.2rem;
      color: #f8f8f8;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-image: linear-gradient(to bottom right, #575d5f, #282b2d);
      position: absolute;
      padding: 2rem;
      opacity: 1;

      animation-name: mobileMenuWoosh;
      animation-duration: 250ms;
      animation-timing-function: ease-out;
      backface-visibility: hidden;
    }

    &--drop-down-item {
      width: 110%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 100ms;
      &:hover {
        background-color: rgba(248, 248, 248, 0.15);
      }
    }
  }

  &__log-in-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 136px;
    max-width: 200px;
    z-index: 60;
    background-color: #f8f8f8;
    color: #222222;
    border-radius: 10rem;
    font-size: 1.8rem;
    padding: 1.2rem 1.2rem;
    margin: 2rem;

    &:hover {
      cursor: default;
      transform: translateY(-0.4rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  &__user{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -2rem ;

    &--image{
      width: 75px;
      border-radius: 50%;
    }

    &--name{
      font-size: 1.8rem;
    }
  }
}

@keyframes mobileMenuWoosh {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  50% {
    transform: translateX(-2rem);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}


@media screen and (min-width: 500px) {
  .mobilemenu{
    &__user{
      &--image{
        width: 100px
      }
    }
  }
}
