@import 'abstracts/_variables.scss';

.plays{
  margin-top: 60px;
  padding: 3rem;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(12rem, auto);
  grid-gap: 3rem;
  grid-template-areas: 'title title title';
  padding-top: 5rem;

  &__title{
    margin: 0 0 2rem;
    width: 100%;
    color: #333333;
    grid-area: title;
    text-align: right;
    font-size: 4.5rem;
    padding: 5rem 4rem;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
}
.category-container:last-child {
  padding-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  .category-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'title title';
  }
}

@media screen and (max-width: 485px) {
  .category-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'title';

    &__title{
      padding: 5rem 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .category-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'title title title title';
  }
}