.editor {
    width: 85vw;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-family: Verdana, sans-serif;
    cursor: text;
    padding: 2rem;
    border-radius: 2px;
    margin-bottom: 2em;
    background: #fafafa;
}

.draftJsToolbar__toolbar__dNtBH {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 10rem;
    left: 3rem;
}

.public-DraftStyleDefault-ul{
    margin: 0 2rem 0 5rem !important;
}

.public-DraftStyleDefault-ol{
    margin: 0 2rem 0 5rem !important;
}

.public-DraftStyleDefault-orderedListItem{
    margin: 2rem 0 !important;
}
.public-DraftStyleDefault-unorderedListItem{
    margin: 2rem 0 !important;
}

.htmlPreview{
    font-size: 1.4rem;
    margin-top: 2rem ;
}

.text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

/*Tool Bar Buttons*/

/*.draftJsToolbar__toolbar__dNtBH{*/
    /*border: none !important;*/
    /*background: none !important;*/
    /*box-shadow: none !important;*/
/*}*/

/*.draftJsToolbar__button__qi1gf{*/
    /*background-color: #092e4f !important;*/
    /*color: #888888 !important;*/
    /*border-radius: 100px !important;*/
/*}*/

/*.draftJsToolbar__buttonWrapper__1Dmqh{*/
    /*background-color: #092e4f !important;*/
    /*color: #888888 !important;*/
    /*border-radius: 100px !important;*/
    /*margin: 2px 0;*/
/*}*/

.headlineButtonWrapper {
    display: inline-block;
}

.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}

